.page-header
  %h2 Election Details

.row
  .col-sm-6
    .row.block
      .col-sm-9
        %h3 Logs
      .col-sm-3
        = link_to "Upload logs", [ :new, @election, :transaction_log ], class: 'btn btn-default'

    %table.table
      %thead
        %tr
          %th Filename
          %th Origin
          %th Created on
          %th

      - if @election.transaction_logs.blank?
        %tr
          %td{ colspan: 4 } No logs loaded yet
      - else
        - @election.transaction_logs.each do |l|
          %tr
            %td= l.filename
            %td= l.origin
            %td= l.create_date.strftime("%B %d, %Y %l:%M%p")
            %td.text-right
              = link_to [ @election, l ], method: 'delete', data: { confirm: 'Delete this file?' }, class: 'btn btn-xs btn-danger' do
                .glyphicon.glyphicon-remove

  .col-sm-6
    .row.block
      .col-sm-9
        %h3 Voters
      .col-sm-3
        = link_to "Upload voters", [ :new, @election, :demog_file ], class: 'btn btn-default'

    %table.table
      %thead
        %tr
          %th Filename
          %th Uploaded on
          %th
      - if @election.demog_files.blank?
        %tr
          %td{ colspan: 2 } No demographics loaded yet
      - else
        - @election.demog_files.each do |f|
          %tr
            %td= f.filename
            %td= f.created_at.strftime("%B %d, %Y %l:%M%p")
            %td.text-right
              = link_to [ @election, f ], method: 'delete', data: { confirm: 'Delete this log?' }, class: 'btn btn-xs btn-danger' do
                .glyphicon.glyphicon-remove

.row
  .col-sm-12
    %h3 Reports

    %p= link_to "Events by County", [ @election, :events_by_county_report ]
