.page-header
  %h2 Election Performance Analytics for: #{@election.name}
  %p Lorem ipsum

= section_row "Election Profile", 'profile'
.row.section.collapse#profile
  .col-sm-6
    %table.table.table-bordered.table-padded
      %tr
        %td.col-sm-6 Election Name
        %td= @election.name
      %tr
        %td Election Date
        %td= @election.held_on.try(:strftime, "%d %B %Y")
      %tr
        %td Start/End Dates for Reporting
        %td #{@election.voter_start_on.try(:strftime, "%d %B %Y")} - #{@election.voter_end_on.try(:strftime, "%d %B %Y")}
      %tr
        %td Owner
        %td= @election.owner.try(:full_name) || 'Unknown'

.row
  .col-sm-6
    .row.block
      .col-sm-9
        %h3 Logs
      .col-sm-3
        = link_to "Upload logs", [ :new, @election, :transaction_log ], class: 'btn btn-default'

    = react_component "TransactionLogsTable", data_url: election_transaction_logs_url(@election)

  .col-sm-6
    .row.block
      .col-sm-9
        %h3 Voters
      .col-sm-3
        = link_to "Upload voters", [ :new, @election, :demog_file ], class: 'btn btn-default'

    = react_component "DemogFilesTable", data_url: election_demog_files_url(@election)

.row
  .col-sm-12
    %h3 Reports

    %p= link_to "Events by County", [ @election, :events_by_county_report ]
    %p= link_to "Events by County by Demog", [ @election, :events_by_county_by_demog_report ]
