.page-header
  %h2= raw t '.title', election: @election.name
  %p= raw t '.info'

= react_component "ElectionStatusSection"

= section_row "Election Profile", 'profile'
.row.section.collapse#profile
  .col-sm-6
    %table.table.table-bordered.table-padded
      %tr
        %td.col-sm-6 Election Name
        %td= @election.name
      %tr
        %td Election Date
        %td= @election.held_on.try(:strftime, "%d %B %Y")
      %tr
        %td Start/End Dates for Reporting
        %td #{@election.voter_start_on.try(:strftime, "%d %B %Y")} - #{@election.voter_end_on.try(:strftime, "%d %B %Y")}
      %tr
        %td Owner
        %td= @election.owner.try(:full_name) || 'Unknown'

    %p= link_to "Edit", [ :edit, @election ], class: 'btn btn-info'

= react_component "ElectionDataSection"

= section_row "Reports", 'reports', state: 'always_open'
.row.section#reports
  .col-sm-4
    %h4 Metrics
    %p= link_to "Administration Data Metrics", "#"
    %p= link_to "Demographical Data Metrics", "#"
    %p= link_to "Combined Metrics", "#"

  .col-sm-4
    %h4 Basic Reports
    %p= link_to "Events by Locality", [ @election, :events_by_locality_report ]
    %p= link_to "Events by Locality by Voter Status: UOCAVA", [ @election, :events_by_locality_by_uocava_report ]
    %p= link_to "Events by Locality by Voter Gender", [ @election, :events_by_locality_by_gender_report ]
    %p= link_to "Basic Voter Demographics by Locality", [ @election, :voter_demographics_by_locality_report ]
    %p= link_to "Voter Age Demographics by Locality: Year of Birth", [ @election, :voter_age_demographics_by_locality_report ]
    %p= link_to "Registration Cancellation Reasons by Locality", [ @election, :cancellation_reasons_by_locality_report ]
    %p= link_to "Registration Rejection Reasons by Locality", [ @election, :registration_rejection_reasons_by_locality_report ]
    %p= link_to "Ballot Rejection Reasons by Locality", [ @election, :ballot_rejection_reasons_by_locality_report ]

  .col-sm-4
    %h4 EAVS Survey Reports
    %p= link_to "EAVS Survey, Part A", [ @election, :eavs_part_a_report ]
    - ( "B" .. "F" ).each do |l|
      %p= link_to "EAVS Survey, Part #{l}", '#'
