.page-header
  %h2 Election Details

.row
  .col-sm-6
    .row.block
      .col-sm-9
        %h3 Logs
      .col-sm-3
        = link_to "Upload logs", [ :new, @election, :transaction_log ], class: 'btn btn-default'

    = react_component "TransactionLogsTable", data_url: election_transaction_logs_url(@election)

  .col-sm-6
    .row.block
      .col-sm-9
        %h3 Voters
      .col-sm-3
        = link_to "Upload voters", [ :new, @election, :demog_file ], class: 'btn btn-default'

    = react_component "DemogFilesTable", data_url: election_demog_files_url(@election)

.row
  .col-sm-12
    %h3 Reports

    %p= link_to "Events by County", [ @election, :events_by_county_report ]
