.page-header
  %h2 Election Performance Analytics for: #{@election.name}
  %p Lorem ipsum

= section_row "Election Profile", 'profile'
.row.section.collapse#profile
  .col-sm-6
    %table.table.table-bordered.table-padded
      %tr
        %td.col-sm-6 Election Name
        %td= @election.name
      %tr
        %td Election Date
        %td= @election.held_on.try(:strftime, "%d %B %Y")
      %tr
        %td Start/End Dates for Reporting
        %td #{@election.voter_start_on.try(:strftime, "%d %B %Y")} - #{@election.voter_end_on.try(:strftime, "%d %B %Y")}
      %tr
        %td Owner
        %td= @election.owner.try(:full_name) || 'Unknown'

    %p= link_to "Edit", [ :edit, @election ], class: 'btn btn-info'

= section_row "Election Data", 'logs', state: 'always_open'
.row.section#logs
  .col-sm-12
    %p.text-right
      = link_to "Upload logs", [ :new, @election, :transaction_log ], class: 'btn btn-default'
      = link_to "Upload voters", [ :new, @election, :demog_file ], class: 'btn btn-default'

    = react_component "ElectionDataTable"
    -# = react_component "TransactionLogsTable", data_url: election_transaction_logs_url(@election)
    -# = react_component "DemogFilesTable", data_url: election_demog_files_url(@election)

= section_row "Reports", 'reports', state: 'always_open'
.row.section#reports
  .col-sm-12
    %p= link_to "Events by Locality", [ @election, :events_by_locality_report ]
    %p= link_to "Events by Locality by Demog: UOCAVA", [ @election, :events_by_locality_by_uocava_report ]
    %p= link_to "Events by Locality by Demog: Gender", [ @election, :events_by_locality_by_gender_report ]
