.row
  .col-sm-12
    %h3= t '.title'
    %p.welcome= raw t '.welcome', user: current_user.full_name, org: current_user.account.name, elections: pluralize(@elections.count, 'recent election')

    .row.section-row
      .col-xs-6
        %h4= t('.elections')
      .col-xs-6.text-right
        = link_to t('.new_election'), :new_election, class: 'btn btn-xs btn-primary'

    = react_component "ElectionsList"

    = section_row t('.your_team'), 'your-team'
    .row.section.collapse#your-team
      %p Lorem ipsum

    = section_row t('.recent_activity'), 'recent-activity'
    .row.section.collapse#recent-activity
      %p Lorem ipsum

- content_for :scripts do
  = javascript_tag do
    require('component/elections_list');
