.page-header
  %h2 Election Logs

.row
  .col-sm-12
    %h3 Upload New Voter Transaction Log
    = form_for :upload, url: [ @election, :logs ], html: { multipart: true, class: 'form' } do |f|
      .form-group
        .row
          .col-sm-3
            = f.file_field :file
          .col-sm-3
            = f.submit 'Upload', class: 'btn btn-primary'

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Filename
          %th Origin
          %th Created on

      - if @logs.blank?
        %tr
          %td{ colspan: 1 } No logs loaded yet
      - else
        - @logs.each do |l|
          %tr
            %td= l.filename
            %td= l.origin
            %td= l.create_date.strftime("%B %d, %Y %l:%M%p")

