.page-header
  %h2 Events by County by Demographics
  %p= link_to "Back to Election", @election
  %p= link_to "Export to CSV", election_events_by_county_by_demog_report_path(@election, format: 'csv')

.row
  .col-sm-12
    %table#report.stripe.row-border.dataTable
      %thead
        %th Jurisdiction
        - @report.columns.each do |c|
          %th= c

      %tbody
        - @report.rows.each do |county, values|
          %tr
            %td= county
            - @report.columns.each do |c|
              %td.text-center= values[c]

= content_for :scripts do
  = javascript_include_tag "reports"
